@model IEnumerable<ReservaTicket.Models.Espectaculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaEspectaculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantEntradas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEspectaculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creador.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantEntradas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEspectaculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEspectaculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEspectaculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
